body {
background-color: rgb(201, 221, 233, 0.2);
}

.container {
    max-width: 40%;
    display: block;
    margin: 100px auto;
}





@media (max-width: 1000px) {
    .container {
        max-width: 95%;
        display: block;
        margin: 30px auto;
    }

}